@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Categorias</h1>
    <p class="lead">Agregar, Editar o Borrar Categorias</p>
    <p>@Html.ActionLink("Ver Listado", "index", "Categories", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>